* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  background: hsl(var(--background));
}